
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1e76ba95;
    color: #03158a;
}

.container {
    max-width: 600px;
    margin-top: 3rem;
    margin-left: 1rem;
    /* margin: auto; */
    /* text-align: center; */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#messages {
    margin-top: 20px;
}

.audio-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffffff00;
    border: none;
    border-radius: 5px;
    width: fit-content;
}
